node_modules
.env
.env.local
.env.development
.env.production
.env.test

images
#日志文件夹
logs
#临时文件夹
temp
contracts
dist
release
*.zip
*\dist_electron\*
dist_electron

# 微信小程序配置
fb/wechat/project.config.json
fb/wechat/project.private.config.json